docs/n8n/w09-cannibalization-monitor.json
{
  "name": "W09 Cannibalization Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"hours": 24}]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [100, 300],
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/webmasters/v3/sites/https%3A%2F%2Fcbamvalid.com%2F/searchAnalytics/query",
        "method": "POST",
        "authentication": "oAuth2",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "startDate", "value": "{{$now.format('yyyy-MM-dd', -30)}}"},
            {"name": "endDate", "value": "{{$now.format('yyyy-MM-dd')}}"},
            {"name": "dimensions", "value": "[\"query\",\"page\"]"},
            {"name": "rowLimit", "value": "10000"}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [300, 300],
      "name": "Fetch GSC Query-Page Data"
    },
    {
      "parameters": {
        "jsCode": "// Identify keyword cannibalization: same query ranking on multiple pages\n// Group by query, find queries with > 1 URL\n// Output: cannibalized queries and competing URLs\nconst rows = $input.all();\n// Cannibalization detection logic\nreturn rows.map(r => ({ json: r.json }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [500, 300],
      "name": "Find Cannibalized Queries"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          }
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [700, 300],
      "name": "Check Cannibalization"
    },
    {
      "parameters": {
        "fromEmail": "info@cbamvalid.com",
        "toEmail": "barisbagirlar@gmail.com",
        "subject": "CBAMValid Cannibalization Alert",
        "text": "Keyword cannibalization detected. Multiple pages ranking for the same query.\n\nDetails: {{$json}}"
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [900, 300],
      "name": "Send Cannibalization Alert"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "Fetch GSC Query-Page Data", "type": "main", "index": 0}]]
    },
    "Fetch GSC Query-Page Data": {
      "main": [[{"node": "Find Cannibalized Queries", "type": "main", "index": 0}]]
    },
    "Find Cannibalized Queries": {
      "main": [[{"node": "Check Cannibalization", "type": "main", "index": 0}]]
    },
    "Check Cannibalization": {
      "main": [null, [{"node": "Send Cannibalization Alert", "type": "main", "index": 0}]]
    }
  }
}
