docs/n8n/workflow-1-eu-regulation-watchdog.json
{
  "name": "Workflow 1 EU Regulation Watchdog",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"hours": 24}]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [100, 300],
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://eur-lex.europa.eu/search.html?q=CBAM&type=quick&scope=EURLEX",
        "method": "GET",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [300, 300],
      "name": "Check EUR-Lex Updates"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          }
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [500, 300],
      "name": "Contains New Regulation"
    },
    {
      "parameters": {
        "fromEmail": "info@cbamvalid.com",
        "toEmail": "barisbagirlar@gmail.com",
        "subject": "CBAMValid EUR-Lex Alert - New CBAM Regulation Detected",
        "text": "New or updated CBAM regulation detected on EUR-Lex.\n\nReview immediately: {{$json}}"
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [700, 300],
      "name": "Send Regulation Alert"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "Check EUR-Lex Updates", "type": "main", "index": 0}]]
    },
    "Check EUR-Lex Updates": {
      "main": [[{"node": "Contains New Regulation", "type": "main", "index": 0}]]
    },
    "Contains New Regulation": {
      "main": [null, [{"node": "Send Regulation Alert", "type": "main", "index": 0}]]
    }
  }
}
