docs/n8n/workflow-2-cbam-deadline-tracker.json
{
  "name": "Workflow 2 CBAM Deadline Tracker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"hours": 24}]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [100, 300],
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Check upcoming CBAM deadlines against current date\n// Deadlines to track: quarterly report submission, annual verification, factor updates\n// Output: deadline objects with name, date, days remaining, priority\nconst today = new Date();\nconst deadlines = [\n  { name: 'Q1 CBAM Report Due', date: '2026-04-30', priority: 'high' },\n  { name: 'Q2 CBAM Report Due', date: '2026-07-31', priority: 'high' },\n  { name: 'Q3 CBAM Report Due', date: '2026-10-31', priority: 'high' },\n  { name: 'Q4 CBAM Report Due', date: '2027-01-31', priority: 'high' },\n  { name: 'Default Values Review', date: '2026-12-31', priority: 'medium' }\n];\nconst upcoming = deadlines.filter(d => {\n  const diff = Math.ceil((new Date(d.date) - today) / (1000 * 60 * 60 * 24));\n  return diff <= 30 && diff >= 0;\n});\nreturn upcoming.map(d => ({ json: { ...d, daysRemaining: Math.ceil((new Date(d.date) - today) / (1000 * 60 * 60 * 24)) } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [300, 300],
      "name": "Check Upcoming Deadlines"
    },
    {
      "parameters": {
        "url": "https://hooks.slack.com/services/cbamvalid/deadline-alerts",
        "method": "POST",
        "authentication": "genericCredentialType",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "text", "value": "CBAM Deadline Alert: {{$json.name}} due in {{$json.daysRemaining}} days"}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 300],
      "name": "Send Slack Notification"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "Check Upcoming Deadlines", "type": "main", "index": 0}]]
    },
    "Check Upcoming Deadlines": {
      "main": [[{"node": "Send Slack Notification", "type": "main", "index": 0}]]
    }
  }
}
